@import url("global.css");

#hero {
  background: var(--light-lilac);
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

#hero div{
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 80%;
  height: 500px;
  margin: auto;
  max-width: 1200px;

  position: relative;
}

#hero h1>span:last-of-type{
  line-height: 4.5rem;
}

#hero p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.125rem;

  color: var(--gray);

  max-width: 535px;
}

#hero h1>span:first-of-type {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

#hero button {
  border-radius: 50px;
}

#hero img{
  width: 450px;

  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media (max-width: 1300px){
  #hero img{
    width: 400px;
  }
}

@media (max-width: 1200px){
  #hero img{
    width: 350px;
  }
}

@media (max-width: 1100px){
  #hero img{
    display: none;
  }
}

@media (max-width: 500px){
  #hero h1>span:last-of-type{
    line-height: 3.5rem;
  }
  #hero h1>span:first-of-type{
    font-size: 1rem;
    /* nao sei por que o line-height n ta funcionando */
    line-height: 1.2rem;
  }
}

