@import url("global.css");

#projetos {
    position: absolute;
    width: 1440px;
    height: 1330px;

    background-color:white;
}

#projetos h2{
    text-align: center;
    margin-bottom: 85px;
}

#project-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:var(--dark-purple);
}

#project-descricao{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    color: var(--gray);
}

#project button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-colonia-de-ferias {
    position: absolute;
    width: 435px;
    height: 36px;
    left: 800px;
    top: 237px;
}

.text-project-colonia-de-ferias{
    position: absolute;
    height: 200px;
    left: 800px;
    top: 303px;
}

.img-colonia{
    position: absolute;
    width: 535.08px;
    height: 462.68px;
    left: 171px;
    top: 172px;
}

.botao-apoie-colonia{
    position: absolute;
    width: 114px;
    height: 47px;
    left: 800px;
    top: 533px;

    border-radius: 10px;
    color: white;
    background: var(--orange-children);
}

.title-aniversariante-do-mes{
    position: absolute;
    width: 432px;
    height: 36px;
    left: 209px;
    top: 851px;
}

.img-aniversario{
    position: absolute;
    height: 438.79px;
    left: 800px;
    top: 785px;
}

.text-aniversariante-do-mes{
    position: absolute;
    width: 435px;
    height: 150px;
    left: 209px;
    top: 917px;
}

.botao-apoie-aniversario {
    position: absolute;
    width: 114px;
    height: 47px;
    left: 208px;
    top: 1097px;

    border-radius: 10px;
    color: white;
    background:var(--blue-sky);
}

.botao-apoie-colonia:hover, .botao-apoie-aniversario:hover {
    background-color: var(--medium-purple);
}