@import url("global.css");

#projetos {
    width: 100%;
    background-color:white;
    align-items: center;
}

#projetos h2{
    text-align: center;
    margin-bottom: 85px;
}

.projetos-conteudo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.projetos-conteudo + .projetos-conteudo {
    margin-top: 10rem;
}

.projetos-conteudo button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    color: white;
}


.projetos-conteudo h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
    color:var(--dark-purple);
}

.projetos-conteudo p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;

    max-width: 435px;

    color: var(--gray);
}

.botao-apoie-colonia{    
    background: var(--orange-children);
}

.botao-apoie-aniversario {
    background:var(--blue-sky);
}

.botao-apoie-colonia:hover, .botao-apoie-aniversario:hover {
    background-color: var(--medium-purple);
}

@media only screen and (max-width: 768px) {
    .projetos-conteudo{
        gap: 1rem;
    }
    .projetos-conteudo img{
       width: 80%;
    }

    .projetos-conteudo h3{
        text-align: center;
    }

    .projetos-conteudo p{
        text-align: center;
        margin: 0 2rem 30px 2rem;
    }

    .projetos-conteudo button{
        margin: 0 auto;
    }
}