@import url("global.css");

section { 
    background-color: var(--white);
    width: 100%;
    align-items: center;
    padding: 2.5rem 10.93rem 2.5rem 10.93rem;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 98px;
    color:var(--medium-purple);
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 36px;

    text-align: right;
    color:var(--dark-purple);
}

button {
    border-radius: 50px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
    color: var(--gray);
}

#hero p{
    text-align: justify;
    width: 40rem;
}

#hero div a {
    margin-right: 3rem;
}

.botao-contribuinte{
    background-color: var(--yellow-joy);
    color: white;
}

.botao-contribuinte:hover {
    background-color: var(--medium-purple);
}

#doacoes{
    text-align: right;
}

#doacoes-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meios-de-contatos li{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--dark-purple);
    text-decoration: none;
}

.meios-de-contatos a{ 
    text-decoration: none;
}

@media (max-width: 1200px){
    #hero p{
        text-align: justify;
        width: 40rem;
    }
    
}

@media (max-width: 1036px){
    .botao-contribuinte{
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px){
    #hero{
        align-items: center;
        padding: 0rem 1.875rem;
        text-align: center;
     }

    #hero p{
        width:fit-content;
        text-align: center;
    }    
}