@import url("global.css");

section { 
    background-color: var(--white);
    width: 100%;
    padding: 2.5rem 10.93rem 2.5rem 10.93rem;
}

#hero { 
    background-color: var(--white);
    height: calc(100vh + 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#hero .imagem img{
    width: 80%;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 98px;
    color:var(--medium-purple);
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 36px;

    text-align: right;
    color:var(--dark-purple);
}

button {
    border-radius: 50px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin-bottom: 2.5rem;
    color: var(--gray);
}

#hero p{
    text-align: justify;
    width: 40rem;
}

#hero div a {
    margin-right: 3rem;
}

.botao-contribuinte{
    background-color: var(--yellow-joy);
    color: white;
}

.botao-contribuinte:hover {
    background-color: var(--medium-purple);
}

#doacoes h2{
    text-align: center;
}

#doacoes-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#doacoes-conteudo li{
    display: inline-block;
    margin: 0 2rem;
}

#doacoes-como-doar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#doacoes-programa-nota-fiscal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#doacoes-como-doar h4 {
    margin-top: 4rem;
}

#doacoes-como-doar h4,
#doacoes-como-doar p{
    text-align: center;
    max-width: 80%;
}

#doacoes-programa-nota-fiscal p, 
#doacoes-programa-nota-fiscal h4{
    text-align: center;
    max-width: 80%;
}

.video {
    text-align: center;
}

/* 
#doacoes-imposto-de-renda p,
#doacoes-imposto-de-renda h4{
    text-align: center;
} */
/* 
#doacoes-imposto-de-renda li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: left;
    color: var(--gray);
} */

#doacoes a{
    text-decoration: underline;
    color: var(--orange-children);
}
/* 
#doacoes-imposto-de-renda a{
    color: var(--blue-sky);
} */

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meios-de-contatos li{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: var(--dark-purple);
    text-decoration: none;
}

.meios-de-contatos a{ 
    text-decoration: none;
}

#empresas-parceiras h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empresa-parceira-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empresa-parceira-conteudo p {
    margin-top: 2rem;
    max-width: 80%;
    text-align: center;
}

@media (max-width: 1200px){
    #hero {
        flex-direction: column-reverse;
    }

    #hero p{
        width: 40rem;
    }

    #hero div a {
        margin-right: 0rem;
    }

    #hero .imagem img{
        width: 500px;
    }

    #doacoes {
        text-align: center;
    }

    #doacoes-imposto-de-renda li{
        font-size: 1rem;
    }

    #doacoes-conteudo img{
        height: 355px;
    }
}

@media (max-width: 1036px){
    
    #hero p{
        width:fit-content;
    }    

    .botao-contribuinte{
        margin-bottom: 1rem;
    }

    #doacoes p{
        text-align: center;
    }

    #idoacoes-imposto-de-renda p,
    #idoacoes-imposto-de-renda h4{
        text-align: center;
    }
}

@media (max-width: 768px){
    section{
        padding: 0rem 1.875rem;
    }

    h4 {
        text-align: center;
    }

    p{
        font-size: 1rem;
    }

    #hero .imagem{
        display: none;
    }

    #hero p, #hero div{
        text-align: center;
    }    

    #hero .botoes  {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card-horizontal {
        margin-bottom: 4rem ;
    }
}


@media (max-width: 425px){
    .video iframe {
        display: none;
    }

    #doacoes-conteudo #imagem{
        width: 80%;
    }

    #doacoes-conteudo ul li {
        display: flex;
        justify-content: center;
    }


}