header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100px;
  padding: 40px 175px 40px 175px;

  background-color: var(--white);
}

/* Logo */
.logo {
  cursor: pointer;
}


.hamburger {
  display: none;
}

/* Menu */
.menu ul {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.menu ul li a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: var(--medium-purple);
  text-decoration: none;
  transition: hover 0.1s;
}

header nav a:hover,
header nav a.active {
  font-weight: 800;
}

/* Botão */
button {
  border-radius: 10px;
}

@media only screen and (max-width: 1550px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1270px) {
  header {
    padding: 0 30px;
  }

 .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background: var(--dark-purple);
  }

  .hamburgerActive {
    display: flex;
    gap: 0.375rem;
  }
  
  .hamburgerActive .line {
    width: 3px;
    height: 30px;
    margin: 6px 0;
    background: var(--dark-purple);
  }

  .menu {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;

    height: 0px;
    width: 100vw;

    background: var(--white);
    transition: 0.2s;

    overflow: hidden;
  }

  .menu.active {
    height: 500px;
  }
  
  .menu ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;

    opacity: 0;
  }
  
  .menu.active ul {
    opacity: 1;
  }

  .menu ul li a {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 425px) {
    header {
      padding: 0 10px;
    }
    
    .logo img {
      width: 160px;
      height: 41px;
    }
}
