@import url("global.css");

/* Projetos */
#projetos {
    position: absolute;
    width: 1440px;
    height: 1330px;

    background-color:white;
}

#projetos h2{
    text-align: center;
}

.title-colonia-de-ferias {
    position: absolute;
    width: 435px;
    height: 36px;
    left: 800px;
    top: 237px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color:var(--dark-purple);
}

.text-project-colonia-de-ferias{
    position: absolute;
    height: 200px;
    left: 800px;
    top: 303px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    color: var(--gray);

}

.img-colonia{
    position: absolute;
    width: 535.08px;
    height: 462.68px;
    left: 171px;
    top: 172px;
}

.botao-apoie-colonia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    gap: 10px;

    position: absolute;
    width: 114px;
    height: 47px;
    left: 800px;
    top: 533px;

    background: var(--orange-children);
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.title-aniversariante-do-mes{
    position: absolute;
    width: 432px;
    height: 36px;
    left: 209px;
    top: 851px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: var(--dark-purple);
}

.img-aniversario{
    position: absolute;
    height: 438.79px;
    left: 800px;
    top: 785px;
}

.text-aniversariante-do-mes{
    position: absolute;
    width: 435px;
    height: 150px;
    left: 209px;
    top: 917px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    color: var(--gray);
}

.botao-apoie-aniversario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    gap: 10px;

    position: absolute;
    width: 114px;
    height: 47px;
    left: 208px;
    top: 1097px;

    background:var(--blue-sky);
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}